name: 'rate-wise'

services:
  app:
    build:
      context: ..
      target: development
    image: ratewise:dev
    ports:
      - ${SERVER_PORT:-3000}:3000
    environment:
      SERVER_PORT: ${SERVER_PORT:-3000}
    volumes:
      - ../src:/usr/src/app/src
      - ../logs:/usr/src/app/logs
      - ../tsconfig.json:/usr/src/app/tsconfig.json
      - ../db:/usr/src/app/db
      - ../scripts:/usr/src/app/scripts
    env_file:
      - path: ../.env.defaults
        required: true
      - path: ../.env.dev
        required: false

  revert-migrate:
    restart: "no"
    image: ratewise:migrate
    pull_policy: never
    build:
      context: ..
      target: development
    command: sh -c "npx nest build && npx typeorm -d dist/db/data-source.js migration:revert"
    volumes:
      - ../db:/usr/src/app/db
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      POSTGRES_URI: postgresql://dev:secretpassword@postgres:5432/ratewise
    profiles:
      - explicitly-enabled

  postgres:
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  redisinsight:
    image: redis/redisinsight:2.70
    restart: always
    volumes:
      - redisinsight:/data
    ports:
      - ${REDIS_INSIGHT-5540}:5540

  redis_auth:
    volumes:
      - redis_auth:/data
      - ../redis/redis-auth.conf:/usr/local/etc/redis/redis.conf

  redis_queues:
    volumes:
      - redis_queues:/data
      - ../redis/redis-queues.conf:/usr/local/etc/redis/redis.conf

  redis_cache:
    volumes:
      - redis_cache:/data
      - ../redis/redis-cache.conf:/usr/local/etc/redis/redis.conf

  mailpit:
    ports:
      - "${MAILHOG_SMTP_PORT:-1025}:1025"
      - "${MAILHOG_UI_PORT:-8025}:8025"
    volumes:
      - mailpit:/data

volumes:
  redisinsight:
    name: rate-wise-redisinsight
  redis_auth:
    name: rate-wise-redis-auth
  redis_cache:
    name: rate-wise-redis-cache
  redis_queues:
    name: rate-wise-redis-queues
  postgres:
    name: rate-wise-postgres
  mailpit:
    name: rate-wise-mailpit