name: CI Artifacts

on:
  push:
    tags:
      - v*.*.*

jobs:
  e2e:
    name: E2E Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run E2E tests
        run: npm run test:e2e -- --maxWorkers=100%  

  publish:
    name: Build & Publish Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: e2e
    steps:
      - uses: actions/checkout@v5
      - uses: docker/login-action@v3
        with:
          username: diegordgzdev
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - uses: docker/metadata-action@v5
        id: meta
        with:
          images: diegordgzdev/ratewise
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
