name: CI

on:
  pull_request:
    branches:
      - development

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true        

jobs: 
  run-linter:
    name: ESLint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
        with:
          node-version: 22.19.0
          cache: npm
      - run: npm ci      
      - uses: reviewdog/action-eslint@2fee6dd72a5419ff4113f694e2068d2a03bb35dd # v1.33.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review 
          fail_level: warning
          filter_mode: nofilter
          eslint_flags: "{src,testing}/**/*.ts"    
          
  run-unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: run-linter
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.19.0
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test:unit -- --maxWorkers=100%

  run-integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: run-linter
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.19.0
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run integration tests
        run: npm run test:integration -- --maxWorkers=100%

  run-components-tests:
    name: Components Tests
    runs-on: ubuntu-latest
    needs: run-linter
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.19.0
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run components tests
        run: npm run test:components -- --maxWorkers=100%
    